{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "printWidth": 90,
    "quoteProps": "consistent",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid"
}